# Pandas

In [1]:
import pandas as pd

### 1. Series 시리즈

In [29]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [5]:
pd.Series(range(10,14))

0    10
1    11
2    12
3    13
dtype: int64

In [6]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [7]:
s.values

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

name 속성을 이용하여 시리즈 데이터에 이름을 붙일 수 있음

In [9]:
s.name = "인구"
s.index.name = "도시"
 
s

도시
서울    9904312
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

* 시리즈 연산

In [10]:
s / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
Name: 인구, dtype: float64

* 시리즈 인덱싱

In [12]:
s[0], s['서울']

(9904312, 9904312)

부분적인 값을 가지는 시리즈

In [13]:
s[[0,2]]

도시
서울    9904312
인천    2890451
Name: 인구, dtype: int64

In [15]:
s[['부산','대구']]

도시
부산    3448737
대구    2466052
Name: 인구, dtype: int64

* 슬라이싱

In [16]:
s[1:3]

도시
부산    3448737
인천    2890451
Name: 인구, dtype: int64

In [18]:
s['부산':'대구'] # 문자를 이용한 경우 끝 값을 포함한다

도시
부산    3448737
인천    2890451
대구    2466052
Name: 인구, dtype: int64

* Boolean indexing

In [21]:
s [s <3000000]

도시
인천    2890451
대구    2466052
Name: 인구, dtype: int64

* 편리한 인덱싱

In [23]:
s.서울

9904312

* 시리즈와 딕셔너리 자료형

In [24]:
'서울' in s

True

In [34]:
for k, v in s.items():
    print(f"{k} = {v}")

ValueError: can only convert an array of size 1 to a Python scalar

In [35]:
fruits = {'apple':1000,"banana":2000,'cherry':3000}
f = pd.Series(fruits)
f

apple     1000
banana    2000
cherry    3000
dtype: int64

### 2. 데이터프레임 DataFrame

In [36]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}

df = pd.DataFrame(data)
df

      2015     2010     2005     2000   지역  2010-2015 증가율
0  9904312  9631482  9762546  9853972  수도권         0.0283
1  3448737  3393191  3512547  3655437  경상권         0.0163
2  2890451  2632035  2517680  2466338  수도권         0.0982
3  2466052  2431774  2456016  2473990  경상권         0.0141

만들고 난 다음에 인덱스를 주어도 된다.

In [37]:
index = ['서울','부산','인천','대구']

df.index = index
df

       2015     2010     2005     2000   지역  2010-2015 증가율
서울  9904312  9631482  9762546  9853972  수도권         0.0283
부산  3448737  3393191  3512547  3655437  경상권         0.0163
인천  2890451  2632035  2517680  2466338  수도권         0.0982
대구  2466052  2431774  2456016  2473990  경상권         0.0141

In [42]:
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"] # 재배치
df = pd.DataFrame(data, index=index, columns = columns)
df

     지역     2015     2010     2005     2000  2010-2015 증가율
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [43]:
df.values

array([['수도권', 9904312, 9631482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0982],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [44]:
df.index.name="도시"
df.columns.name = "특성"
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [45]:
df.T

도시                  서울       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9631482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0982   0.0141

* 열 데이터

In [46]:
df['지역']

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [48]:
df.지역

도시
서울    수도권
부산    경상권
인천    수도권
대구    경상권
Name: 지역, dtype: object

In [51]:
# 안됨 : df.~는 조회에서만 동작한다. 
df.temp=[1,2,3,4]               
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283
부산  경상권  3448737  3393191  3512547  3655437         0.0163
인천  수도권  2890451  2632035  2517680  2466338         0.0982
대구  경상권  2466052  2431774  2456016  2473990         0.0141

In [52]:
# 새로운 열 생성을 하기 위해서는 []안에 넣어줘야 한다. 
df['temp'] = [1,2,3,4]
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

In [56]:
# 수정이나 삭제도 가능(했다 안했다가 함)
df.temp = [5,6,7,8]
df

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2
인천  수도권  2890451  2632035  2517680  2466338         0.0982     3
대구  경상권  2466052  2431774  2456016  2473990         0.0141     4

* 열 인덱싱  

df.\['2010'] 은 시리즈고  
df.\[\['2010']]은 데이터프레임이다

In [59]:
df[['2010','2015']]

특성     2010     2015
도시
서울  9631482  9904312
부산  3393191  3448737
인천  2632035  2890451
대구  2431774  2466052

In [58]:
df['2010']

도시
서울    9631482
부산    3393191
인천    2632035
대구    2431774
Name: 2010, dtype: int64

* 행 인덱싱

In [60]:
# 하나의 행만 추출 하나의 행만 추출
df[:1]

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1

In [62]:
df['서울':'부산']

특성   지역     2015     2010     2005     2000  2010-2015 증가율  temp
도시
서울  수도권  9904312  9631482  9762546  9853972         0.0283     1
부산  경상권  3448737  3393191  3512547  3655437         0.0163     2

* 개별 데이터 인덱싱

In [64]:
df['지역']['서울']

'수도권'

In [65]:
df['2015'][1]       #부산

3448737

In [66]:
df.지역[0]          #익숙해지면 이렇게 사용

'수도권'

In [68]:
df.지역.서울        #열인덱스.행인덱스

'수도권'