In [ ]:
### 판다스 데이터 입출력

In [1]:
import pandas as pd

매직명령어 : %%writefile  
이 명령은 셀에 서술한 내용대로 텍스트 파일을 만드는 명령이다.

In [3]:
%%writefile Data/sample1.csv
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

Overwriting Data/sample1.csv

* CSV 파일 읽어오기

In [5]:
pd.read_csv('Data/sample1.csv')

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [6]:
%%writefile Data/sample2.csv

1, 1.11, one
2, 2.22, two
3, 3.33, three

Writing Data/sample2.csv

위의 데이터를 그냥 읽어오게 되면 첫 행이 컬럼네임이 된다.

In [8]:
pd.read_csv("data/sample2.csv",names=['c1','c2','c3'])

   c1    c2      c3
0   1  1.11     one
1   2  2.22     two
2   3  3.33   three

In [23]:
%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

Writing sample3.txt

확장자가 CSV가 아닌 파일 즉, 데이터를 구분하는 구분자(separator)가 쉼표(comma)가 아니면 sep 인수를 써서 구분자를 사용자가 지정해준다.  
만약 길이가 정해지지 않은 공백이 구분자인 경우에는 **\s+ 정규식(regular expression)** 문자열을 사용한다.

In [24]:
a = pd.read_table('data/sample3.txt',sep='\s+')

In [25]:
a['c1']

0    0.179181
1    1.024209
2    0.417899
Name: c1, dtype: float64