### 시계열 자료 다루기

In [1]:
import numpy as np
import pandas as pd

* Datetime Index

In [7]:
# 다양한 형태로 표현된 string
date_str = ["2018, 1, 1", "2018-1-4", "20180105", "2018.1.6", "180107","010818"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06',
               '2007-01-18', '2018-01-08'],
              dtype='datetime64[ns]', freq=None)

In [9]:
np.random.seed(2021)
s  = pd.Series(np.random.random(6),index = idx)
s

2018-01-01    0.605978
2018-01-04    0.733369
2018-01-05    0.138947
2018-01-06    0.312673
2007-01-18    0.997243
2018-01-08    0.128162
dtype: float64

* 범위로 생성

In [11]:
pd.date_range('20210601','20210630')

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20',
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='D')

In [13]:
pd.date_range('20210601',periods = 30)

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-05', '2021-06-06', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10', '2021-06-11', '2021-06-12',
               '2021-06-13', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-19', '2021-06-20',
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='D')

In [16]:
# 범위 중에서 평일만 뽑아보기
pd.date_range('20210601','20210630',freq = "B")

DatetimeIndex(['2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
               '2021-06-11', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', freq='B')

In [23]:
# 범위 중에서 일요일만 뽑아보기
pd.date_range('20210601','20210630',freq = 'W')

DatetimeIndex(['2021-06-06', '2021-06-13', '2021-06-20', '2021-06-27'], dtype='datetime64[ns]', freq='W-SUN')

In [31]:
# 주말만 뽑는 법 찾아넣기
pd.date_range('20210601','20210630',freq = 'W-SAT')

DatetimeIndex(['2021-06-05', '2021-06-12', '2021-06-19', '2021-06-26'], dtype='datetime64[ns]', freq='W-SAT')

* resample  
특정 기간 동안의 대표값을 뽑아주는데, mean이 될수도 있고 다양하다.

In [26]:
np.random.seed(0)
ts = pd.Series(np.random.randn(100), index=pd.date_range(
    "2018-1-1", periods=100, freq="D"))
ts.tail(20)

2018-03-22   -1.165150
2018-03-23    0.900826
2018-03-24    0.465662
2018-03-25   -1.536244
2018-03-26    1.488252
2018-03-27    1.895889
2018-03-28    1.178780
2018-03-29   -0.179925
2018-03-30   -1.070753
2018-03-31    1.054452
2018-04-01   -0.403177
2018-04-02    1.222445
2018-04-03    0.208275
2018-04-04    0.976639
2018-04-05    0.356366
2018-04-06    0.706573
2018-04-07    0.010500
2018-04-08    1.785870
2018-04-09    0.126912
2018-04-10    0.401989
Freq: D, dtype: float64

In [27]:
# 주 단위로 평균
ts.resample("W").mean()

2018-01-07    1.032030
2018-01-14    0.376722
2018-01-21   -0.146794
2018-01-28    0.207122
2018-02-04    0.045536
2018-02-11   -0.081312
2018-02-18   -0.398918
2018-02-25   -0.287513
2018-03-04   -0.353319
2018-03-11   -0.567629
2018-03-18   -0.055802
2018-03-25   -0.309877
2018-04-01    0.566217
2018-04-08    0.752381
2018-04-15    0.264451
Freq: W-SUN, dtype: float64

In [28]:
ts.resample("M").first()

2018-01-31    1.764052
2018-02-28    0.378163
2018-03-31   -0.362741
2018-04-30   -0.403177
Freq: M, dtype: float64